html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8F4E1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbarContainer {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #AF8F6F;
    padding: 10px 40px;
}

.navbarLogo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.navbarSearch {
    flex: 1;
    height: 30px;
    margin: 25px 20px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

#navLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navItem {
    margin-right: 20px;
}

.navbarContainer a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

#magnifier {
    color: #be9b78;
    align-self: center;
}

.navbarContainer a:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .navbarSearch {
        display: none;
    }

    #magnifier {
        display: none;
    }

    .navItem {
        margin: 10px;
    }
}

/* End of Navbar */

/* Shipping Page */
.shippingPageContainer {
    margin: 100px 100px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shippingPageContainer h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    color: #AF8F6F;
}

.shippingSection {
    margin-bottom: 50px;
}

.shippingSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.shippingSection p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.shippingIcon {
    font-size: 3rem;
    color: #AF8F6F;
    margin-bottom: 20px;
}

.backToTopBtn {
    display: block;
    margin: 0 auto;
    background-color: #AF8F6F;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.backToTopBtn:hover {
    background-color: #e6c8a9;
    transition: 0.5s;
}

.footerContainer {
    background-color: #AF8F6F;
    color: #fff;
    display: flex;
}

.footerContainer a {
    text-decoration: none;
    color: inherit;
}

.footerContainer h3 {
    margin-left: 40px;
    text-decoration: none;
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

.footerContent {
    justify-content: space-between;
    margin: 5px 100px 5px 90px;
}

.footerContainer a:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .footerContainer {
        width: 920px;
    }

    .footerContent {
        margin: 5px 50px 5px 50px;
    }

}
