body {
  background-color: #f8f4e1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.faq {
  border-bottom: 1px solid #ccc;
  margin: 10px ;
}

.accordion {
  background-color: #ddc7b1;
  color: #333;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;  
  font-size: 16px;
  transition: background-color 0.3s;
}

.active,
.accordion:hover {
  background-color: #ccaf92;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.pannel {
  padding: 10px 10px 10px 10px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.pannel p {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }

  .accordion {
    font-size: 14px;
  }

  .input--text {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button:hover {
    background-color: #e6c8a9;
  }

  .button--submit:hover {
    color: #e6c8a9;
    transition: 0.5s;
  }
}
