html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8F4E1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbarContainer {
    color: #fff;
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
    background-color: #AF8F6F;
}

.navbarLogo img {
    width: 100px;
    height: 100px;
    margin-right: 320px;
}

.navbarSearch {
    min-width: 40%;
    height: 20px;
    margin-right: 220px;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    outline: none;
    border: none;
}

#navLinks {
    display: flex;
    width: 50%;
    margin-top: 35px;
}

.navItem {
    margin-right: 40px;
}

.navbarContainer a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

#magnifier {
    position: absolute;
    top: 35px;
    left: 1020px;
    color: #be9b78;
}

.navbarContainer a:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    body {
        justify-content: center;
        text-align: center;
    }

    .navbarContainer {
        width: 880px;
    }

    .navbarSearch {
        display: none;
    }

    #magnifier {
        display: none;
    }

    .navItem {
        margin-left: 70px;
    }

}

/* tables with names */
.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #b8860b; /* Golden color */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b8860b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: inherit;
}

button:hover {
    background-color: #d4af37; /* Lighter golden color */
}

#message {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #333;
}


.footerContainer {
    background-color: #AF8F6F;
    color: #fff;
    display: flex;
}

.footerContainer a {
    text-decoration: none;
    color: inherit;
}

.footerContainer h3 {
    margin-left: 40px;
    text-decoration: none;
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

.footerContent {
    justify-content: space-between;
    margin: 5px 100px 5px 90px;
}

.footerContainer a:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .footerContainer {
        width: 920px;
    }

    .footerContent {
        margin: 5px 50px 5px 50px;
    }

}

