body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #333;
    color: #fff;
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
    background-color: #AF8F6F;
    align-items: center;
    font-size: 18px;
}

.navbarLogo img{
    width: 100px;
    height: 100px;
    margin-right: 250px;
}

.bagIcon {
    margin-top: 20px;
    width: 35px;
    height: 35px;
    padding-right: 90px;
    cursor: pointer;
    color:white;
}

.bagIcon:hover{
    color: #efd0b3;
    transition: 0.3s;
}

#items{
    font-family: Arial, sans-serif;
    padding-right: 20%;
    word-spacing: 30px;
    cursor: pointer;
    font-weight: bold;
}

li{
    display: inline;
}

li:hover{
    color: #c9b097;
    transition: 0.3s;
}

img{
    width: 350px;
    height: 350px;
}

.earring-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 990px; 
    margin: auto;
    padding-bottom: 50px;
}
.earring-item{
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.earring-item img {
    width: 100%;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: 8px;
}
.earring-item:hover{
    transform: scale(1.1);
}

.earring-item p {
    font-size: 1.2em;
    color: #524e4e;
}

h1{
    font-size: 2rem;
    letter-spacing: 2px;
    margin-left: 40px;
    padding-top: 20px;
    padding-left: 200px;
    color: #be9b78;
}

#buy{
    margin-bottom: 17px;
    background-color: #be9b78;
    color: #fefefe;
    width: 120px;
    height: 35px;
    border: none;
    cursor: pointer;
}

#buy:hover{
    background-color: #c9b097;
    transition: 0.5s;
}

.necklace-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 990px; 
    margin: auto;
    padding-bottom: 50px;
}
.necklace-item{
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.necklace-item img {
    width: 100%;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: 8px;
}
.necklace-item:hover{
    transform: scale(1.1);
}

.necklace-item p {
    font-size: 1.2em;
    color: #524e4e;
}

.ring-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 990px; 
    margin: auto;
    padding-bottom: 50px;
}
.ring-item{
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ring-item img {
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: 8px;
}
.ring-item:hover{
    transform: scale(1.1);
}

.ring-item p {
    font-size: 1.2em;
    color: #524e4e;
}

.bracelet-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 990px; 
    margin: auto;
    padding-bottom: 50px;
}
.bracelet-item{
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bracelet-item img {
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: 8px;
}
.bracelet-item:hover{
    transform: scale(1.1);
}

.bracelet-item p {
    font-size: 1.2em;
    color: #524e4e;
}

