body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    background-color: #333;
    color: #fff;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 40px;
    justify-content: space-between;
    background-color: #AF8F6F;
    align-items: center;
    font-size: 18px;
}

.navbarLogo img{
    width: 100px;
    height: 100px;
    margin-right: 250px;
}

.bagIcon {
    margin-top: 20px;
    width: 35px;
    height: 35px;
    padding-right: 90px;
    cursor: pointer;
    color:white;
}

.bagIcon:hover{
    color: #e6c8a9;
    transition: 0.3s;
}

#items{
    font-family: Arial, sans-serif;
    padding-right: 20%;
    word-spacing: 30px;
    cursor: pointer;
    font-weight: bold;
}

li{
    display: inline;
}

li:hover{
    color: #e6c8a9;
    transition: 0.3s;
}

.shoppingContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 990px; 
    margin: auto;
    padding-bottom: 50px;
}
.shoppingItem{
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shoppingContainer .shoppingItem img {
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: 8px;
}
.shoppingItem:hover{
    transform: scale(1.1);
}

.cart-price{
    
    font-size: 1.2em;
    color: #524e4e;
    
}

h1{
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-left: 40px;
    padding-top: 20px;
    padding-left: 200px;
    color: #be9b78;
}
.header{
    margin-top: 120px;
}
#buy{
    margin-bottom: 17px;
    background-color: #be9b78;
    color: #fefefe;
    width: 120px;
    height: 35px;
    border: none;
    cursor: pointer;
}

#buy:hover{
    background-color: #c9b097;
    transition: 0.5s;
}
