html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8F4E1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbarContainer {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #AF8F6F;
    padding: 10px 40px;
}

.navbarLogo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.navbarSearch {
    flex: 1;
    height: 30px;
    margin: 25px 20px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

#navLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navItem {
    margin-right: 20px;
}

.navbarContainer a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

#magnifier {
    color: #be9b78;
    align-self: center;
}

.navbarContainer a:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .navbarSearch {
        display: none;
    }

    #magnifier {
        display: none;
    }

    .navItem {
        margin: 10px;
    }
}

/* End of Navbar */

/* Home Page */
.homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 50px;
    text-align: center;
}

.homeContainer h2 {
    font-family: "Sedan SC", serif;
    width: 100%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.homeContainer p {
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.homeContainer img {
    width: 25%;
    margin: 20px auto;
}

.homeContainer a {
    text-decoration: none;
    color: white;
    background-color: #AF8F6F;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-top: 20px;
}

.homeContainer a:hover {
    background-color: #ecba88;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .homeContainer {
        margin: 0;
    }

    .homeContainer h2 {
        font-size: 2rem;
    }

    .homeContainer p {
        font-size: 1rem;
    }

    .homeContainer img {
        display: none;
    }

    .homeContainer a {
        margin-top: 20px;
    }
}

/* End of Home Page */

/* Categories Section */
.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 50px;
    text-align: center;
}

.categoriesContent h1 {
    font-family: "Sedan SC", serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.categoriesContent button {
    background-color: #F8F4E1;
    color: #919191;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border: none;
    margin: 20px auto;
}

.categoriesContent button:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

.categoriesContent img {
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .categoriesContent h1 {
        font-size: 2rem;
    }

    .categoriesContent button {
        padding: 10px 20px;
    }
}

/* End of Categories Section */

/* Shipping Info */
.shippingInfoContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px 50px;
}

.shippingInfoContent {
    flex: 1;
    margin: 20px;
}

.shippingInfoContainer h3 {
    font-family: "Sedan SC", serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.shippingInfoContainer p {
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    .shippingInfoContainer {
        margin: 0;
    }

    .shippingInfoContent {
        margin: 10px 0;
    }

    .shippingInfoContainer h3 {
        font-size: 1.2rem;
    }
}

/* End of Shipping Info */

/* Trendy Collection */
.trendyCollectionContainer {
    text-align: center;
    margin: 100px 50px;
}

.trendyCollectionContainer h1 {
    font-family: "Sedan SC", serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.trendyCollectionGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.trendyCollectionPhotos {
    flex: 1;
    margin: 10px;
}

.trendyCollectionPhotos img {
    width: 100%;
    transition: transform 0.5s;
}

.trendyCollectionPhotos img:hover {
    transform: scale(1.1);
}

.trendyCollectionPhotos p {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .trendyCollectionContainer h1 {
        font-size: 2rem;
    }
}

/* Footer */
.footerContainer {
    background-color: #AF8F6F;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.footerContainer a {
    text-decoration: none;
    color: inherit;
}

.footerContainer h3 {
    margin-left: 40px;
}