html {
    scroll-behavior: smooth;
}
body {
    background-color: #F8F4E1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbarContainer {
    color: #fff;
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
    background-color: #AF8F6F;
}

.navbarLogo img{
    width: 100px;
    height: 100px;
    margin-right: 320px;
}

.navbarSearch {
    min-width: 40%;
    height: 20px;
    margin-right: 220px;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    outline: none;
    border: none;
}

#navLinks {
    display: flex;
    width: 50%;
    margin-top: 35px;
}

.navItem {
    margin-right: 40px;
}

.navbarContainer a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

#magnifier {
    position: absolute;
    top:35px;
    left:1020px;
    color: #be9b78;
}

.navbarContainer a:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

@media screen and (max-width: 768px){
    body {
        justify-content: center;
        text-align: center;
    }
    .navbarContainer {
        width: 880px;
    }
    .navbarSearch {
        display: none;
    }
    #magnifier {
        display: none;
    }
    .navItem {
        margin-left: 70px;
    }
}
/* End of Navbar */
/* Home Page */
.homeContainer {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px 100px 100px;    
}

.homeContainer h2 {
    font-family: "Sedan SC", serif;
    width: 30%;
    font-size: 3rem;
    letter-spacing: 2px;
}

.homeContainer p {
    width: 50%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.homeContainer img {
    position: absolute;
    top:170px;
    left:1000px;
    width: 25%;
}

.homeContainer a {
    text-decoration: none;
    color: white;
    background-color: #AF8F6F;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.homeContainer a:hover {
    background-color: #ecba88;
    color: white;
    transition: 0.5s;
}

@media screen and (max-width: 768px){
    #home {
        background-image: url("../photos/home.png");
        background-size: 100%;
        width: 920px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .homeContainer {
        margin: 0px;
    }
    .homeContent h2 {
        width: 400px;
        margin-left: 280px;
    }
    .homeContent p {
        text-align: center;
        margin-left: 250px;
    }
    .homeContent img {
        display: none;
    }
    .homeContent a {
        margin: 20px 0px 70px 0px;
    }
}
/*End of Home Page */

/*Categories Section */
.categoriesContainer {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px 100px 100px;
}

.categoriesContent h1 {
    font-family: "Sedan SC", serif;
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
}
.categoriesContent button {
    background-color: #F8F4E1;
    color: #919191;
    max-height: 0px;
    padding: 0px 100px 0px 100px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border: none;
}

.categoriesContent button:hover {
    color: #e6c8a9;
    transition: 0.5s;
}

.categoriesContent img {
    width: 98%;
    margin-left: 10px;
}

.categoriesFirstGallery  {
    display: flex;
    margin-top: 50px;
}

.categoriesSecondGallery {
    display: flex;
    margin-top: 10px;;
}

@media screen and (max-width: 768px)
{
    #categories {
        width: 920px;
    }
    .categoriesContent h1 {
        font-size: 2rem;
        text-align: center;
    }
    .categoriesContent button {
        padding: 10px 0px 10px 0px;
        margin: 20px 20px 20px 20px;
        text-align: center;
    }
}
/* End of Categories Section */

/* Shipping Info */
.shippingInfoContainer {
    display: flex;
    text-align: center;
}

.shippingInfoContent {
    margin-left: 220px;
    text-align: center;
}

.shippingInfoContainer h3 {
    font-family: "Sedan SC", serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.shippingInfoContainer p {
    font-size: 1rem;
    letter-spacing: 2px;
    width: 200px;
}

@media screen and (max-width: 768px){
    #shipping {
        width: 920px;
    }
    .shippingInfoContent {
        margin-left: 80px;
    }
    .shippingInfoContainer h3 {
        font-size: 1.2rem;
    }
}
/* End of Shipping Info */

/*Trendy Collection */
.trendyCollectionContainer {
    text-align: center;
    margin-top: 100px;
}
.trendyCollectionContainer h1 {
    font-family: "Sedan SC", serif;
    font-size: 3rem;
    letter-spacing: 2px;
}
.trendyCollectionGallery {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.trendyCollectionPhotos img{
    width: 60%;
}

.trendyCollectionPhotos img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.trendyCollectionPhotos p {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: right;
    margin-right: 80px;
}

@media screen and (max-width: 768px){
    #trendyCollection {
        width: 920px;
    }
    .trendyCollectionContainer h1{
        font-size: 2rem;
    }
}
/* End of Trendy Collection */

/* About Us */
.aboutContainer  {
    background-color: #AF8F6F;
    margin: 50px;
    padding: 20px 50px 0px 0px;
}
.aboutContent {
    display: flex;
    justify-content: space-between;
}
.aboutContent img {
    width: 75%;
}
.aboutContent h3 {
    font-family: "Sedan SC", serif;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}
.aboutContent p {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    max-width: 700px;
    margin-top: 50px;
}

.aboutContainer button {
    margin: 20px 0px 35px 220px;
    background-color: #F8F4E1;
    color: black;
    padding: 17px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
}
.aboutContainer button:hover {
    background-color: #e6c8a9;
    color:white;
    transition: 0.5s;
}

@media screen and (max-width: 768px){
    #about {
        width: 920px;
    }
    .aboutContentImg img {
        display: none;
    }
    .aboutContent button {
        margin: 20px 0px 20px 0px;
    }
}
/* End of About Us */

/* Newsletter */
.newsletterContent {
    text-align: center;
    margin: 100px 100px 100px 100px;
}
.newsletterContent h1 {
    font-family: "Sedan SC", serif;
    font-size: 3rem;
    letter-spacing: 2px;
}
.newsletterContent p {
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.newsletterContent input {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    outline: none;
    background-color: #F8F4E1;
    border: 3px solid #AF8F6F;
    text-align: center;
    font-size: 1.5rem;
    color: #AF8F6F;
}
.newsletterContent button {
    background-color: #AF8F6F;
    color: #fff;
    padding: 13px 20px 13px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border: none;
}

.newsletterContent button:hover {
    background-color: #ecba88;
    color: white;
    transition: 0.5s;
}
@media screen and (max-width: 768px){
    #newsletter {
        width: 920px;
    }
    .newsletterContent input {
        width: 80%;
    }
    .newsletterContent button {
        margin-top: 20px;
    }
    .newsletterContent h1 {
        font-size: 2rem;
    }
    .newsletterContent p {
        font-size: 1rem;
    }
}
/* End of Newsletter */

/* Footer */
.footerContainer {
    background-color: #AF8F6F;
    color: #fff;
    display: flex;
}

.footerContainer a {
    text-decoration: none;
    color:inherit;
}

.footerContainer h3 {
    margin-left:40px;
    text-decoration: none;
    list-style-type: none;
}
ul li {
    list-style-type: none;
}
.footerContent {
    justify-content: space-between;
    margin: 5px 100px 5px 90px;
}

.footerContainer a:hover {
    color: #e6c8a9;
    transition: 0.5s;
}
@media screen and (max-width: 768px){
    .footerContainer {
        width: 920px;
    }
    .footerContent {
        margin: 5px 50px 5px 50px;
    }
    
}
/* End of Footer */